@media screen and (max-width: 768px) {
	body { padding-top: 0px; }
}
body {
	padding-top: 55px;
	background-color: lightgrey;
	color: rgba(61, 61, 63, 1);
	font-style: "Lato", sans-serif;
	padding-bottom: 90px;
}
.footer {
	position: fixed;
	bottom: 0;
	background-color: rgba(61, 61, 63, 1);
	width: 100%;
	padding-left: 5%;
}