{% extends "public/base.html" %}
{% load staticfiles %}
{% block title %} Contact Us {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12" style="justify-content: center;">
			<strong>Contact Us</strong>
		</div>
		<div class="col-12">
			<p>
				If you would like to contact us for support or inquiries, please reach out to one of the contact points below.
			</p>
		</div>
		<div class="col-12">		
			<p>
				office phone number : #___-___-____
			</p>		
		</div>
		<div class="col-12">
			<p>
				office email contact : ___@alsubway.com
			</p>	
		</div>
	</div>
</div>
{% endblock %}